body {
  padding: 15px;
  line-height: 32px;
  font-family: "Oswald", sans-serif;
  color: #204051;
  margin: 15px auto;
}
h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 48px;
  color: #b13753;
  font-weight: bold;
}

footer {
  text-align: center;
}
.weatherapp {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #8cb5f2 100%);
  margin: 0px auto;
  border-radius: 25px;
  border: solid 1px #5e41a7;
  text-align: center;
  padding: 10px;
  max-width: 600px;
}
.temp {
  padding-left: 10px;
}
.currenttemp {
  font-size: 34px;
  font-weight: bold;
}
.degrees {
  font-size: 18px;
  padding-left: 5px;
  vertical-align: text-top;
}
.current-date {
  font-size: 22px;
  text-align: center;
}
.current-time {
  text-align: center;
}
.weatherWrapper {
  padding-bottom: 25px;
  font-size: 20px;
  text-align: left;
  padding-left: 50px;
  margin-left: 30px auto;
}
.card {
  background: #ffffff 0%;
  border-radius: 15px;
  border: solid 1px #3b697885;
  box-shadow: rgba(37, 39, 89, 0.164) 0px 8px 8px 0;
  display: block;
  align-self: center;
}
.card.body {
  max-width: 100%;
}
.card-img-top {
  max-width: 100px;
  align-self: center;
}
.condition {
  text-transform: capitalize;
}
.img-fluid {
  max-width: 60%;
  float: left;
  padding-left: 15px;
  display: inline-flex;
}
.btn.btn-success {
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
.btn.btn-primary {
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
.icon {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}
.currenttemp .active {
  color: #204051;
}
.currenttemp .active:hover {
  text-decoration: none;
  cursor: default;
}
